<%- include("templates/header") %>
    <div><button onclick="window.location.href='/signup'">Sign up</button></div>
    <div><button onclick="window.location.href='/login'">Log In</button></div>
    <%- include("templates/footer") %>