<%- include("templates/header") %> 
<h1>Hello, <%= name %></h1>
<form action='/members' method='get'>
<button>Go to the Members Only Area</button>
</form>
<button onclick="window.location.href='/logout'">Log out</button>
<%- include("templates/footer") %> 
